.logo {
    width: 500px;
    position: relative;
    left: -90px;
}

body{
    background-color: #1C4F48;
    font-family: 'Barlon';
}

.main{
    height: 100vh;
}

.container-banner {
    width: 100%;
    height: 400px;
    display: flex;
    background-image: url("../img/banner_cantinho.jpg");
    background-position: center;
    background-repeat: no-repeat;

}
.container-banner h1,p{
    color: white;
}

.container-texto-banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

h2 {
    text-align: center;
    font-size: 48px;
    margin: 20px 0px;
    color: #A4CFBE;
    font-weight: bold;
}



.container-foto-cafe-manha , .container-almoco{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.container-cafe-manha-titulo, .container-almoco-titulo{
    margin: 20px 0px;
    
    color: #A4CFBE;
    
    font-size: 36px;
    text-align: center;
}


.container-cafe-manha-produtos, .container-almoco-produtos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.container-produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: solid #A4CFBE 2px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    height: auto;
    background-color: #A4CFBE;
}

.container-produto:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.container-produto img{
    width: 350px;
    height: 270px;
    object-fit: cover;

}

/*.container-produtos p:nth-child(4){
    font-weight: 600;
    margin-top: 18px;
    color: whitesmoke;
}

.container-produtos p:nth-child(2){
    font-weight: bold;
    font-size: 20px;
}*/

.ornaments{
    width: 40%;       
}

h3{
    text-align: center;
    color: #A4CFBE;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    font:italic;
}

h4{
    text-align: center;
    color:#47A68E ;
    font-weight: bold;
    font-size:large;
}
